*.*
!.gitignore
!README.md
!*.js
!*.jsx
!package.json
!package-lock.json
!*.html
!*.ts
!*.tsx
!tsconfig*

# vs code rest client
!*.rest

# node stuff
node_modules

# build file
dist

# ESlint
!*eslint.config*