:root {
    --bg-color: #333;
}

* {
    box-sizing: border-box;

    /* border: 1px solid white; */
    background-color: var(--bg-color);
    color: white;
}

body {
    margin: 0px;
}

html {
    font-family: sans-serif;
    font-size: large;

    text-align: center;
}
